<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skfkfkvlrm.stockgame_spring.repository.MemberRepository">

	<!-- 회원가입 -->
	<insert id="setMember" parameterType="com.school.stockGame.vo.StudentVO">
		INSERT INTO students (student_id, password, name, grade, class_name, register_year, total_coupon, total_point, created_date)
		VALUES (#{studentId}, #{password}, #{name}, #{grade}, #{className}, YEAR(NOW()), 0, 30000, NOW())
	</insert>
	
	<!-- 로그인 -->
	<select id="login" parameterType="com.school.stockGame.vo.StudentVO" resultType="Map" >
		SELECT name, grade, class_name, total_point FROM students WHERE student_id = #{studentId} AND password = #{password}
	</select>
	
	<!-- 아이디 중복체크 -->
	<select id="getIdCheck" parameterType="String" resultType="String">
		SELECT student_id FROM students WHERE student_id = #{studentId} 
	</select>
	
</mapper>