<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.skfkfkvlrm.stockgame_spring.repository.MyAssetMapper">

<select id = "getMyValue" parameterType ="map"  resultType="int">
	 SELECT s.total_point + COALESCE(SUM(MY_VALUE.value), 0)
        FROM students s
        LEFT JOIN (
            SELECT o.student_id,
                    SUM(CASE WHEN o.content = '매수' THEN o.amount ELSE -o.amount END)
                    * COALESCE(
                        (SELECT price
                        FROM orders
                        WHERE stock_no = #{stockNo}
                            AND state = '체결'
                        ORDER BY order_date DESC
                        LIMIT 1), st.publication_price
                    ) AS value
            FROM orders o
            JOIN stocks st ON o.stock_no = st.stock_no
            WHERE o.state = '체결'
            GROUP BY o.student_id, o.stock_no, st.publication_price
        ) MY_VALUE
        ON s.student_id = MY_VALUE.student_id
        WHERE s.student_id = #{studentId}
        GROUP BY s.total_point
</select>

<select id = "getPointValue" parameterType ="String"  resultType="int">
	SELECT total_point
        FROM students
        WHERE student_id = #{studentId}
</select>

<select id = "getTotalProfit" parameterType ="map"  resultType="int">
	SELECT COALESCE(SUM(stock_profit), 0) AS totalProfit
        FROM (
            SELECT
                (
                    SUM(CASE WHEN o.content = '매수' THEN o.amount ELSE -o.amount END)
                    *
                    COALESCE(
                        (
                                SELECT price
                                FROM orders
                                WHERE stock_no = #{stockId}
                                  AND state = '체결'
                                ORDER BY order_date DESC
                                LIMIT 1
                        ),
                        st.publication_price
                    )
                )
                -
                SUM(CASE WHEN o.content = '매수' THEN o.price * o.amount ELSE 0 END) AS stock_profit
            FROM orders o
            JOIN stocks st ON o.stock_no = st.stock_no
            WHERE o.student_id = #{studentId}
              AND o.state = #{state}
            GROUP BY o.stock_no, st.publication_price
        )
</select>

<select id = "getTotalCoupon" parameterType ="String"  resultType="int">
	 SELECT total_coupon
        FROM students
        WHERE student_id = #{studentId}
</select>

<select id = "getStockName" parameterType ="int"  resultType="String">
	SELECT name
        FROM stocks
        WHERE stock_no = #{studentId}
</select>

<select id = "getStockAmount" parameterType ="map"  resultType="int">
	SELECT COALESCE(SUM(CASE WHEN content = '매수' THEN amount ELSE -amount END), 0) AS amount
        FROM orders
        WHERE student_id = #{studentId}
          AND stock_no = #{stockNo}
          AND state = #{state}
</select>

<select id = "getAveragePrice" parameterType ="map"  resultType="int">
	SELECT COALESCE((SUM(price * amount) / SUM(amount)), 0) AS average
        FROM orders
        WHERE student_id = #{studentId}
          AND stock_no = #{stockNo}
          AND state = #{state}
          AND content = #{content}
</select>

<select id = "getPurchasePrice" parameterType ="map"  resultType="int">
SELECT COALESCE(SUM(price * amount), 0) AS purchasePrice
        FROM orders
        WHERE student_id = #{studentId}
          AND stock_no = #{stockNo}
          AND state = #{state}
          AND content = #{content}
</select>

<select id = "getStockProfit" parameterType ="map"  resultType="int">
 SELECT COALESCE(
            (
                (
                    SUM(CASE WHEN content = '매수' THEN amount ELSE -amount END)
                    *
                    (
                        SELECT COALESCE(
                            (
                                    SELECT price
                                    FROM orders
                                    WHERE stock_no = #{stockId}
                                      AND state = '체결'
                                    ORDER BY order_date DESC
                                    LIMIT 1
                            ),
                            st.publication_price
                        )
                        FROM stocks st
                        WHERE st.stock_no = o.stock_no
                    )
                )
                -
                SUM(CASE WHEN content = '매수' THEN price * amount ELSE 0 END)
            ),
            0
        ) AS profit
        FROM orders o
        WHERE o.student_id = #{studentId}
          AND o.stock_no = #{stockNo}
          AND o.state = #{state}
        GROUP BY stock_no
</select>

<select id = "getMyStockNos" parameterType ="map"  resultType="int">
	SELECT DISTINCT stock_no
        FROM orders
        WHERE student_id = #{studentId}
          AND state = #{state}
</select>
</mapper>