<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skfkfkvlrm.stockgame_spring.repository.MyPointHistoryRepository">
	<select id="getMyPointHistoryList" parameterType="String"
            resultType="com.skfkfkvlrm.stockgame_spring.controller.dto.response.PointHistoryResponse">
		SELECT history_date, history_type, history_content, point_change 
            FROM ( 

                SELECT 
                    cp.created_date AS history_date,
                    '쿠폰' AS history_type, 
                    cp.name AS history_content, 
                    -cp.price AS point_change 
                FROM coupon_purchase cp
                WHERE cp.student_id = (SELECT id FROM students WHERE student_id = #{studentId})

                UNION ALL 

                SELECT 
                    gp.created_date AS history_date,
                    '지급' AS history_type, 
                    gp.content AS history_content, 
                    gp.point AS point_change 
                FROM get_points gp
                WHERE gp.student_id = (SELECT id FROM students WHERE student_id = #{studentId})

                UNION ALL 

                SELECT 
                    t.created_date AS history_date,
                    '매수' AS history_type, 
                    s.name AS history_content, 
                    -(o.price * o.amount) AS point_change 
                FROM transactions t
                JOIN orders o ON t.buy_order_id = o.order_id
                JOIN stocks s ON o.stock_id = s.stock_id
                WHERE o.student_id = (SELECT id FROM students WHERE student_id = #{studentId})

                UNION ALL 

                SELECT 
                    t.created_date AS history_date,
                    '매도' AS history_type, 
                    s.name AS history_content, 
                    (o.price * o.amount) AS point_change 
                FROM transactions t
                JOIN orders o ON t.sell_order_id = o.order_id
                JOIN stocks s ON o.stock_id = s.stock_id
                WHERE o.student_id = (SELECT id FROM students WHERE student_id = #{studentId})

            ) history
           ORDER BY history_date DESC
	</select>
</mapper>