<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skfkfkvlrm.stockgame_spring.domain.news.NewsRepository">

<select id="getNewsList" resultType="string">
	SELECT content FROM news ORDER BY news_id DESC, created_date DESC
</select>

<insert id="insertNews" parameterType="string">
    INSERT INTO news (content, created_date) VALUES (#{content}, NOW())
</insert>

</mapper>