<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skfkfkvlrm.stockgame_spring.repository.StockDetailRepository">
	<select id="getStockInfo" parameterType="int" resultType="map">
		SELECT name, content FROM stocks WHERE stock_id = #{stockId}
	</select>
	<select id="getStockPrice" parameterType="int" resultType="int">
		SELECT o.price FROM transactions t
		JOIN orders o ON t.buy_order_id = o.order_id WHERE o.stock_id = #{stockId}
		ORDER BY t.created_date DESC LIMIT 1
	</select>
	<select id="getStockPriceChange" parameterType="int" resultType="int">
		SELECT COALESCE((SELECT o.price FROM transactions t JOIN orders o ON t.buy_order_id = o.order_id WHERE o.stock_id = #{stockId} ORDER BY t.created_date DESC LIMIT 1), s.publication_price) - s.prev_price
		FROM stocks s WHERE s.stock_id = #{stockId}
	</select>
	<select id="getChangeRate" parameterType="int" resultType="double">
		SELECT COALESCE(
					   ROUND(
							   (COALESCE(
										(SELECT o.price
										 FROM transactions t
										     JOIN orders o ON t.buy_order_id = o.order_id
										 WHERE o.stock_id = #{stockId}
										 ORDER BY t.created_date DESC LIMIT 1),
										s.publication_price) - s.prev_price) / NULLIF(s.prev_price, 0) * 100), 0) as ChangeRate
		FROM stocks s
		WHERE s.stock_id = #{stockId}
	</select>
	<select id="getPervPrice" parameterType="int" resultType="int">
		SELECT prev_price FROM stocks WHERE stock_id = #{stockId}
	</select>
	<select id="getStudentStockAmount" parameterType="map" resultType="int">
		SELECT COALESCE(SUM(CASE WHEN content='매수' THEN amount ELSE -amount END), 0) AS amount
		FROM orders WHERE student_id = (SELECT id FROM students WHERE student_id = #{studentId}) AND stock_id = #{stockId} AND state='체결'
	</select>
	<select id="getStudentPoint" parameterType="String" resultType="int">
		SELECT total_point FROM students WHERE student_id = #{studentId}
	</select>
	<insert id="setOrderRequest" parameterType="map">
		INSERT INTO orders (content, price, amount, state, created_date, student_id, stock_id)
		VALUES (#{content}, #{price}, #{amount}, #{state}, NOW(), (SELECT id FROM students WHERE student_id = #{studentId}), #{stockId})
	</insert>
	<select id="getTotalOrder" parameterType="int" resultType="com.school.stockGame.vo.OrderVO">
		SELECT price, amount, content FROM orders 
		WHERE stock_id = #{stockId} AND state = '대기' ORDER BY created_date ASC
	</select>
	<select id="getTotalSellOrder" parameterType="int" resultType="com.school.stockGame.vo.OrderVO">
		SELECT price, amount, content FROM orders 
		WHERE stock_id = #{stockId} AND state = '대기' AND content = '매도' ORDER BY created_date ASC
	</select>
	<select id="getTotalBuyOrder" parameterType="int" resultType="com.school.stockGame.vo.OrderVO">
		SELECT price, amount, content FROM orders 
		WHERE stock_id = #{stockId} AND state = '대기' AND content = '매수' ORDER BY created_date ASC
	</select>
	<select id="getTotalMyOrder" parameterType="map" resultType="com.school.stockGame.vo.OrderVO">
		SELECT order_id, content, price, amount, created_date, state FROM orders
		WHERE student_id = (SELECT id FROM students WHERE student_id = #{studentId}) AND stock_id = #{stockId} AND state ='대기' ORDER BY created_date ASC
	</select>
	<update id="setStudentPointUp" parameterType="com.school.stockGame.vo.OrderVO">
		UPDATE students SET total_point = total_point + #{totalPoint} WHERE student_id = #{studentId}
	</update>
	<update id="setStudentPointDown" parameterType="com.school.stockGame.vo.OrderVO">
		UPDATE students SET total_point = total_point - #{totalPoint} WHERE student_id = #{studentId}
	</update>
	<insert id="setMatchedOrder" parameterType="com.school.stockGame.vo.TransactionVO">
		INSERT INTO transactions (created_date, buy_order_id, sell_order_id)
		VALUES (NOW(), #{buyOrderId}, #{sellOrderId})
	</insert>
	<update id="setOrderStatePending" parameterType="int">
		UPDATE orders SET state = '대기' WHERE order_id = #{orderId}
	</update>
	<update id="setOrderStateMatched" parameterType="int">
		UPDATE orders SET state = '체결' WHERE order_id = #{orderId}
	</update>
	<update id="setOrderStateCancel" parameterType="int">
		UPDATE orders SET state = '취소' WHERE order_id = #{orderId}
	</update>
	<select id="getStockPubInfo" parameterType="int" resultType="map">
		SELECT publication_balance, publication_price FROM stocks WHERE stock_id = #{stockId}
	</select>
	<update id="setStockPubBalance" parameterType="map">
		UPDATE stocks SET publication_balance = publication_balance - #{amount} WHERE stock_id = #{stockId}
	</update>
	<select id="getMatchOrder" parameterType="map" resultType="map">
		SELECT order_id, content, price, amount, state, created_date, student_id, stock_id
		FROM orders
		WHERE stock_id = #{stockId} AND state = '대기' AND content = #{content} AND price = #{price}
		AND amount = #{amount} AND student_id != (SELECT id FROM students WHERE student_id = #{studentId})
		ORDER BY created_date ASC LIMIT 1 FOR UPDATE
	</select>
	<select id="getMyOrderNo" parameterType="map" resultType="int">
		SELECT order_id FROM orders
		WHERE content = #{content} AND student_id = (SELECT id FROM students WHERE student_id = #{studentId}) AND stock_id = #{stockId}
		AND state = #{state} AND amount = #{amount} AND price = #{price} ORDER BY created_date DESC LIMIT 1
	</select>
</mapper>